.sunat-motivo-nota-debito-edicion-acciones {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sunat-motivo-nota-debito-edicion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sunat-motivo-nota-debito-edicion h2 {
  margin-bottom: 0;
}
