.sunat-medio-pago-detraccion-edicion-acciones {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sunat-medio-pago-detraccion-edicion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sunat-medio-pago-detraccion-edicion h2 {
  margin-bottom: 0;
}
